        *
        {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            /* color: #fff; */
        }
        :root
        {
            --background-color:greenyellow;
            --white-color:#fff;
            --black-color:#111;
        }
        body
        {   
            width: 100%;
            height: 100%;
        }
        .navbar
        {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            background: var(--black-color);
        }
        .logo h3
        {
            color:var(--white-color);
        }
        .nav-items
        {
            display: flex;
            align-items: center;
        }
        .nav-list
        {
            display: flex;
            gap: 20px;
            margin-right: 20px;
        }
        .nav-list li
        {
            list-style: none;
        }
        .nav-links
        {
            font-size: 17px;
            text-decoration: none;
            transition: all 0.5s ease;
            color: #fff;
        }
        .nav-list .active
        {
            color: var(--background-color);
        }
        .nav-links:hover     
        {   
            color: var(--background-color);
        }
        .btn
        {
            padding: 10px 20px;
            background: var(--background-color);
            color: black;
            border: none;
            border-radius: 10px;
            font-weight: 500;
        }
        .hamburger
        {
            display: none;
        }
        .hamburger i
        {
            color: var(--white-color);
            font-size: 30px;
        }
        @media (max-width:590px) {
            .nav-items{
                display: none;
            }
            .hamburger
            {
                display: block;
            }
        }